.profile {
  max-width: 880px;
  margin: 0 auto;
  padding: 40px 0 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .profile {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 42px 0 36px;
    flex-direction: column;
    align-items: center;
  }
}
