.element__trash-button {
  margin: 0;
  background-image: url(../../../images/Trash.svg);
  background-color: transparent;
  width: 18px;
  height: 19px;
  border: none;
  background-size: auto;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}

.element__trash-button:hover {
  opacity: 0.6;
}
