.root {
  margin: 0 auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #000;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
