.popup__container {
  background-color: #fff;
  width: 100%;
  max-width: 430px;
  min-height: 330px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 576px) {
  .popup__container {
    max-width: 282px;
    min-height: 322px;
  }
}
