.elements__list {
  list-style: none;
  padding: 0 19px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  max-width: 880px;
  margin: 0 auto;
  gap: 20px 17px;
  justify-content: center;
}
